@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

*{
    font-family: 'Nunito', sans-serif;
}

.navbar-brand-name{
    font-size: 32px;
    font-weight: bold;
}

.brand-name-w{
    color: #00bf2c;
}

.nav-icons{
    width: 34px;
    height: 34px;
}

.nav-line {
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 24px;
}

.search-input{
    border: 1px solid #DCDCDC;
    border-radius: 6px;
    width: 100%;
    padding: 8px;
}

.category-banner{
    background-image: linear-gradient(180deg, #B1D7B4 0%, #EBEBEB 100%);
}

.hero{
    background: #7FB77E;
}

.card-jobs{
    max-width: 70%;
    border: 1px solid #B1D7B4;
}

.text-price{
    color: #A6A6A6;
    font-size: 14px;
    line-height: 19px;
}

.text-description{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
}

.card-header{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.card-header-text{
    padding: 18px;
    background-color: #7FB77E;
    border-bottom: 0;
}

.card-category{
    font-size: 14px;
}

.card-category ul{
    list-style: none;
    display: flex;
}

.card-category li{
    border: 1px solid #7FB77E;
    background-color: #7FB77E;
    color: white;
    border-radius: 4px;
    padding: 4px 12px;
    margin-right: 12px;
}

.card-location{
    padding: 8px 0 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.015em;
    color: #00BF2D;
}

/* CARD JOBS */
.hr-card-jobs{
    border: 1px solid #00BF2D;
}

.btn-save{
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: #00BF2C;
    width: 112px;
    height: 48px;  
}

.text-card-jobs{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #C5C5C5;
    margin: 300px 0 300px;
}

.btn-google{
    background: #8793FF;
    font-weight: 700;
}

.signup-form{
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 48px;
    max-width: 633px;
    max-height: 656px;
}


/* SUCESS PAGES */
.text-check h1{
    font-size: 64px;
    line-height: 87px;
    font-weight: 700;
    padding-top: 24px;
}

.text-check h2{
    font-size: 48px;
    line-height: 65px;
    font-weight: 700;
    letter-spacing: 0.015em;
    margin-bottom: 120px;
}

/* ABOUT */
.about-text{
    font-size: 20px;
}

/* REGISTER */
.register__title{
   font-size: 32px; 
   line-height: 44px;
   font-weight: 700;
   letter-spacing: 0.01em;
}

.register__container form{
    padding: 24px;
    margin: 44px 34px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}

.form-label{
    font-weight: bold;
}

form ::placeholder{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #CACACA;
}

form textarea{
    height: 135px;
}

.btn-submit-register{
    border: 1px solid #00BF2C;
    background-color: #ffff;
    color: #00BF2C;
}

.btn-submit-register:hover{
    background-color: #00BF2D;
    color: white;
    font-weight: bold;
}


/* LOGIN PAGE */
.login-form{
    max-width: 384px;
    max-height: 54px;
    margin: 0 auto;
}

.form-control{
    border-radius: 5px;
}

.btn-signup{
    border: 1px solid #00BF2C ;
    color: #00BF2C;
    font-weight: bold;
}

.btn-signup:hover{
    background-color: #00BF2C;
    color: white;
}


@media screen and (max-width: 678px) {
    .card-jobs{
        max-width: 80%;
    }
    
}